body{
    background-color: #FBF9F1;
    text-align: center;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    margin: 0cap;
}
#nav{
    padding: 1px;
}
a{
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    color: #AAD7D9;
    display: inline-block;
    box-shadow: 5px 5px 10px #E5E1DA;
}
#reg{
    background-color: white;
    padding: 5px;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
h1{
    color: #92C7CF;
}
#em{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FBF9F1;
    width: 200px;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}
#pass{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FBF9F1;
    width: 200px;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}
#button{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #E5E1DA;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 25px;
    transition-duration: 0.4s;
}
#button:hover{
    background-color: #AAD7D9;
}
/* #92C7CF */
/* #AAD7D9 */
/* #FBF9F1 */
/* #E5E1DA */