<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResTec</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div id="paragr">
        <div id="instructions">
            <p>
                ResTec - сайт створений для зручного бронювання викладача.
            </p>
            <h3>Інструкція користуванням сайту:</h3>
            <p>
                Щоб почати користуватися сайтом вам необхідно увійти або зареєструватися. Для цього потрібно перейти у вкладку "Увійти". <br>
                <img id="instrImage" src="/images/Instr1.jpg" alt="">
            </p>
            <p>
                Якщо ви ще не створювали користувача натисніть на посилання "Ще не зареєстровані?" та зареєструйтесь.<br>
                <img id="instrImage" src="/images/Instr2.jpg" alt="">
            </p>
            <p>
                Оскільки це тестовий вебсайт не вказуйте свій справжній пароль. Не забудьте вказати хто ви та надати дозвіл.<br>
                <img id="instrImage" src="/images/Instr3.jpg" alt="">
            </p>
            <p>
                Після успішної авторизації вам надійде відповідне повідомлення та відкриється нова вкладка. Відповідно кого ви обрали при реєстрації та й вкладка буде вам доступна.<br>
                <img id="instrImage" src="/images/Instr4.jpg" alt=""> 
            </p>
            <p>
                Для викладача потрібно обрати дату початку та дату кінця зустрічі.<br>
                <img id="instrImage" src="/images/Instr5.jpg" alt="">
            </p>
            <p>
                Після успішного створення події вам надійде відповідне повідомлення та посилання на зустріч.<br>
                <img id="instrImage" src="/images/Instr6.jpg" alt="">
            </p>
            <p>
                У Google Calendar в календарі "Час для бронювання" створиться ваша подія(у мобільній версії додатку Google Calendar може не відображатися, проте у веб-додатку все добре).У разі видалення календаря ви зможете створити новий у налаштуваннях. Приємного користування!<br>
                <img id="instrImage" src="/images/Instr7.jpg" alt="">
            </p>
            <p>
                Якщо ви обрали роль студента, вам буде доступна ця вкладка.<br>
                <img id="instrImage" src="/images/Instr8.jpg" alt="">
            </p>
            <p>
                Щоб знайти викладча вам необхідно вписати прізвище викладача, якого ви шукаєте, або залишити в полі "Прізвище" - "Усіх" в цьому випадку вам будуть доступні усі викладачі.<br>
                <img id="instrImage" src="/images/Instr9.jpg" alt="">
            </p>
            <p>
                Як тільки ви знайдете потрібного вам викладача - оберіть його та натисніть "Вибрати".<br>
                <img id="instrImage" src="/images/Instr10.jpg" alt="">
            </p>
            <p>
                Вам буде доступно усі вільні години викладча. Ви можете обрати будь-яку. Ви будете записані на 30хв у той день, який ви обрали. Приємного користування!<br>
                <img id="instrImage" src="/images/Instr11.jpg" alt="">
            </p>
            <p>
                Після успішного запису вам надійде відповідне повідомлення та посилання на зустріч.<br>
                <img id="instrImage" src="/images/Instr12.jpg" alt="">
            </p>
        </div>
    </div>
</body>
</html>