<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResTec</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div id="auth">
        <p>
            Успішний вхід!
        </p>
    </div>
    <script>
       document.addEventListener("DOMContentLoaded", function() {
            // Отримуємо дані з localStorage
            const dataFromLocalStorage = localStorage.getItem('email');
            
            if (dataFromLocalStorage) {
                // Кодуємо дані для використання в URL
                const encodedData = encodeURIComponent(dataFromLocalStorage);

                // Формуємо URL з параметрами запиту
                const url = `/oAuth.ejs?data=${encodedData}&code=<%= code %>`;

                // Відправляємо запит на сервер і обробляємо відповідь
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Зберігаємо отримані дані в localStorage
                        localStorage.setItem('orient', JSON.stringify(data.Orin));

                        const orientIs = localStorage.getItem('orient');

                        if (orientIs) {
                            window.location.href = "/home.ejs";
                        } else {
                            window.location.href = "/oAuth.ejs?data=${encodedData}&code=<%= code %>";
                        }

                    })
                    .catch(error => console.error('Error:', error));
            }
        });
   </script>
</body>
</html>