<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reglogstyle.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>ResTec</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <form action="/registration" method="POST">
        <div id="reg">
            <h1 id="treg">Реєстрація</h1><br>
            <div id="inem">
                <input type="text" required placeholder="Прізвище" name="surname" id="nreg"><br/>
                <input type="text" required placeholder="Ім'я" name="name" id="nreg"><br/>
                <input type="text" placeholder="По-батькові" name="nameF" id="nreg"><br/>
                <input type="email" required placeholder="Введіть емейл адресу" name="email" id="nreg"><br/>
                <input type="password" required placeholder="Введіть пароль" name="password" id="nreg"><br>
            </div>
            <a href="login.ejs" target="_self">Вже зареєстровані?</a><br>
            <div id="chos">
                <p>Хто ви?</p>
                <input type="radio" name="ts" id="tech" value="t" required>
                <label for="tech">Викладач</label>
                <input type="radio" name="ts" id="stud" value="s" required>
                <label for="stud">Студент</label>
            </div>
            <div id="allow">
                <input type="checkbox" name="allow" id="al" required>
                <a href="privacy.ejs" target="_blank">Даю дозвіл!</a>
            </div>
            <div id="btn">
                <input type="submit" id="button" value="Зареєструватися">
            </div>
        </div>
    </form>
</body>
</html>