<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reglogstyle.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>ResTec</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div id="reg">
        <h1 id="treg">Реєстрація</h1><br>
        <input type="email" required placeholder="Введіть емейл адресу" name="email" id="em"><br/>
        <input type="password" required placeholder="Введіть пароль" name="password" id="pass"><br>
        <a href="login.ejs" target="_self">Маєте сторінку?</a><br>
        <input type="button" id="button" value="Зареєструватися">
    </div>
</body>
</html>