<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResTec</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <form id="eventForm" action="/teacher" method="POST">
        <div id="tec">
            <h1 id="ttec">Створити подію</h1><br>
            <div id="ev">
                <input type="text" required placeholder="Введіть назву" value="Вільний час для броні" name="evName" id="evIn"><br/>
                <input type="text" placeholder="Введіть опис(не обов'язково)" name="evDescr" id="evIn"><br>
                <label>Вкажіть дату початку події :</label><br>
                <input type="datetime-local" required name="evDateSt" min=<%= minTime%> id="evIn" ><br>
                <label>Кінця події :</label><br>
                <input type="datetime-local" required name="evDateEn" min=<%= minTime%> id="evIn" ><br>
            </div>
            <div id="message">
                <script src="index.js"></script>
                <p id="wrng"><%= wrngMess%></p>
            </div>
            <div id="btn">
                <input type="submit" id="button" value="Створити подію">
            </div>
        </div>
    </form>
    <script>
        document.getElementById('eventForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const email = localStorage.getItem('email');
            const formData = new FormData(this);
            formData.append('email', email);

            const urlParams = new URLSearchParams();
            formData.forEach((value, key) => {
                urlParams.append(key, value);
            });

            try {
                const response = await fetch('/teacher', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: urlParams.toString()
                });
                window.location.href = "/successmessage.ejs";
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>