#reg{
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
form a{
    font-size: 11px;
    color: #b2aca3;
    padding-left: 47px;
    padding-right: 47px;
}
h1{
    text-align: center;
}
#log{
    background-color: white;
    padding: 5px;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
#inem{
    text-align: center;
}
#em{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FBF9F1;
    width: 200px;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}
#pass{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FBF9F1;
    width: 200px;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}
#chos{
    padding-left: 47px;
    padding-right: 47px;
}
#chos p{
    margin: 5px;
}
#btn{
    text-align: center;
}
#wrng{
    margin: 0px;
    padding-left: 47px;
    padding-right: 47px;
    font-size: 10px;
    color: red;
}