body{
    background-color: #FBF9F1;
    /* text-align: center; */
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    margin: 0cap;
    margin-left: 30px;
    margin-right: 30px;
}
h1{
    color: #92C7CF;
}
h3{
    color: #92C7CF;
}
#button{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #E5E1DA;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 15px;
    transition-duration: 0.4s;
}
#button:hover{
    background-color: #AAD7D9;
}
#instructions{
    margin: auto;
    width: auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
#instructions h3{
    text-align: center;
}
#instrImage{
    max-width: 100%;
}
#instructions p{
    text-align: center;
}
#auth{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
#stec h1{
    text-align: center;
}
#stec h3{
    text-align: center;
}
#freeTime h3{
    text-align: center;
}
#stec.searching{
    height: 220px;
}
#stec.calendar{
    width: 800px;
    height: auto;
}
#setting{
    text-align: center;
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
#stec{
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
#tec h1{
    text-align: center;
}
#tec{
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    margin: 0 auto;
    width: 300px;
    height: 320px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
}
#ev{
    text-align: center;
}
#evIn{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FBF9F1;
    width: 200px;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}
#sIn{
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #FBF9F1;
    width: 200px;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}
#wrng{
    margin: 0px;
    padding-left: 47px;
    padding-right: 47px;
    font-size: 10px;
    color: red;
}
#tec #btn{
    text-align: center;
}

#stec #btn{
    text-align: center;
}

#ev.arrayEv{
    /* display: flex; */
    flex-wrap: wrap;
}

#link{
    text-decoration: none;
    color: black ;
}

label.arrayEv{
    background-color: #FBF9F1;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #E5E1DA;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
}

#arrayEv {
    width: calc(33.33% - 20px); 
    height: inherit;
    margin-right: 20px; 
    margin-bottom: 20px; 
    display: inline-block; 
    vertical-align: top; 
    position: relative;
    
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

input[type="radio"]:checked + label {
    background-color: #92C7CF;
    color: #FBF9F1;
    
}
#calendar{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
@media screen and (max-width: 700px){
    #calendar{
        display: none;
    }
}


/* #92C7CF */
/* #AAD7D9 */
/* #FBF9F1 */
/* #E5E1DA */